<?xml version="1.0" encoding="UTF-8"?>
<web-app>
<display-name>DownLoadfile</display-name>
<servlet>
<servlet-name>upl</servlet-name>
<servlet-class>com.nt.servlet.DownLoadServlet</servlet-class>
<load-on-startup>1</load-on-startup>
</servlet>
<servlet-mapping>
<servlet-name>upl</servlet-name>
<url-pattern>/downloadurl</url-pattern>
</servlet-mapping>
<welcome-file-list>
<welcome-file>index.html</welcome-file>
</welcome-file-list>
</web-app>
